<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:e="http://projectmallard.org/experimental/" xmlns:if="http://projectmallard.org/experimental/if/" type="topic" id="editor-scintilla" xml:lang="de">

  <info>
    <link type="guide" xref="index#faq-editor"/>
    
    <revision pkgversion="0.1" version="0.1" date="2010-12-02" status="stub"/>
    <credit type="author">
      <name>Sébastien Granjoux</name>
      <email>seb.sfo@free.fr</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2012, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Verwendung des <app>Scintilla-Editors</app></title>

  <p>Der <app href="http://www.scintilla.org">Scintilla-Editor</app> ist im Paket <sys>anjuta-extras</sys> verfügbar, das Sie von der <link href="http://projects.gnome.org/anjuta/downloads.html">Anjuta-Webseite</link> herunterladen oder über die Softwareverwaltung Ihrer Distribution installieren können. Nachdem Sie es installiert haben, werden Sie gefragt, welchen Editor Sie verwenden wollen, und können diesen als Standardeditor für dieses Projekt verwenden.</p>

<if:choose>
  <if:when test="if:supports('action:install')">
    <note style="info package">
      <p><link action="install:anjuta-extras" href="http://projects.gnome.org/anjuta/downloads.html" style="button">anjuta-extras installieren</link></p>
    </note>
  </if:when>
</if:choose>

  <note>
    <p>Der <app>Scintilla-Editor</app> ist in Anjuta seit Version 3.2 verfügbar.</p>
  </note>

</page>
