<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="project-existing" xml:lang="pt-BR">

  <info>
    <link type="guide" xref="index#faq-project"/>
    <desc>Importe um projeto para o <app>Anjuta</app>.</desc>
    
    <revision pkgversion="0.1" version="0.1" date="2010-12-02" status="stub"/>
    <credit type="author">
      <name>Sébastien Granjoux</name>
      <email>seb.sfo@free.fr</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2018</mal:years>
    </mal:credit>
  </info>

  <title>Como posso usar o Anjuta com um projeto existente?</title>

  <p>Execute <guiseq><gui>Arquivo</gui><gui>Novo</gui><gui>Projeto a partir de código existente</gui></guiseq>.</p>

  <p><app>Anjuta</app> não possui um formato de projeto próprio. Ele usa formatos de projetos já existentes, como Autotools ou Makefile. No Linux, o formato mais comum é o Autotools.</p>

</page>
