<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="editor-maximize" xml:lang="cs">

  <info xmlns:facet="http://projectmallard.org/facet/1.0/">
    <link type="guide" xref="index#faq-editor" group="first"/>

    <desc>Klikněte dvojitě na aktuální kartu.</desc>
    
    <revision pkgversion="0.1" version="0.1" date="2010-12-02" status="stub"/>
    <credit type="author">
      <name>Dokumentační projekt GNOME</name>
      <email>gnome-doc-list@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Andy Piper</name>
    </credit>
    <credit type="author">
      <name>Naba Kumar</name>
      <email>naba@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Biswapesh Chattopadhyayr</name>
    </credit>
  </info>

  <title>Jak maximalizovat okno s editorem?</title>

  <p>Okno s dokumentem maximalizujete dvojitým kliknutím na aktuální kartu. Když uděláte to stejné znovu, obnovíte předchozí stav všech zadokovaných oken.</p>

</page>
