<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="anjuta-code-help" xml:lang="sv">

  <info xmlns:facet="http://projectmallard.org/facet/1.0/">
    <facet:tag key="all-pages" value="whatever"/> <!--Include page in index-->
    <link type="guide" xref="index#anjuta-code" group="first"/>
    <revision pkgversion="3.0" version="0.1" date="2011-03-27" status="incomplete"/>
    <desc>Hitta snabbt informationen du behöver i API-dokumentationen</desc>

    <credit type="author">
      <name>Johannes Schmid</name>
      <email>jhs@gnome.org</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>

  <title>Använda API-referensen</title>

<section>
<title>Bläddra i API-referensen</title>

<p>För snabb åtkomst till API-referensen för bibliotek har anjuta en integrerad API-bläddrare. Om det inte redan gjorts kan den aktiveras i inställningarna (<guiseq><gui>Redigera</gui><gui>Inställningar</gui></guiseq>) i <guiseq><gui>Allmänt</gui><gui>Insticksmoduler</gui></guiseq> genom att välja <app>DevHelp</app>-insticksmodulen.</p>

<p>API-referensen har två fönster, ett för att söka efter en specifik symbol, och bläddraren för att visa hjälpdokumenten.</p>

</section>

<section>
<title>Hoppa till API-referensen genom att använda genvägar i redigeraren</title>

<p>Om du är osäker på hur en specifik funktion som används i befintlig kod fungerar kan du helt enkelt placera markören på funktionsnamnet och använda <keyseq><key>Skift</key><key>F1</key></keyseq> (eller <guiseq><gui>Hjälp</gui><gui>Sammanhangshjälp</gui></guiseq>) för att hoppa till dokumentationen.</p>

</section>

</page>
