<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="autotools-project-folder-edit" xml:lang="sv">

  <info xmlns:facet="http://projectmallard.org/facet/1.0/">
    <facet:tag key="all-pages" value="whatever"/> <!--Include page in index-->
    <link type="guide" xref="project-manager-folder" group="second"/>
    <revision pkgversion="3.0" version="0.1" date="2011-03-27" status="incomplete"/>
    <desc>
      Edit autotools folder properties.
    </desc>
    <credit type="author">
      <name>Sébastien Granjoux</name>
      <email>seb.sfo@free.fr</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>

  <title>Edit an Autotools Folder</title>

  <p>Dessa egenskaper låter dig definiera gemensamma egenskaper för alla mål som tillhör denna mapp.</p>

  <terms>
    <item>
      <title><gui>Flaggor för C-kompilator</gui></title>
      <p>The flags to pass to the C compiler if a per target value is
      not defined.</p>
    </item>
    <item>
      <title><gui>Flaggor för C-preprocessor</gui></title>
      <p>These flags are passed to every compilation that invokes the
      C preprocessor. This value is ignored if these flags are
      defined for the target.</p>
    </item>
    <item>
      <title><gui>Flaggor för C++-kompilator</gui></title>
      <p>The flags to pass to the C++ compiler flags if a per target value
      is not defined.</p>
    </item>
    <item>
      <title><gui>Flaggor för Fortran-kompilator</gui></title>
      <p>The flags to pass to the Fortran 9x compiler if a per target value
      is not defined.</p>
    </item>
    <item>
      <title><gui>Installationskataloger</gui></title>
      <p>Detta definierar installationskataloger. Det behövs om du vill installera filer i anpassade kataloger.</p>
    </item>
    <item>
      <title><gui>Flaggor för Java-kompilator</gui></title>
      <p>The flags to pass to the Java compiler if a per target value is
      not defined.</p>
    </item>
    <item>
      <title><gui>Kompilatorflaggor för Lex/Flex</gui></title>
      <p>The flags to pass to the scanner generator Lex or Flex if a per target
      value is not defined.</p>
    </item>
    <item>
      <title><gui>Flaggor för länkare</gui></title>
      <p>The flags to pass to the linker if a per target value is not defined.</p>
    </item>
    <item>
      <title><gui>Flaggor för Objective C-kompilator</gui></title>
      <p>The flags to pass to the Objective C compiler if a per target value
      is not defined.</p>
    </item>
    <item>
      <title><gui>Flaggor för Vala-kompilator</gui></title>
      <p>The flags to pass to the Vala compiler if a per target value is not
      defined.</p>
    </item>
    <item>
      <title><gui>Kompilatorflaggor för Yacc/Bison</gui></title>
      <p>The flags to pass to the parser generator Bison or Yacc if a per
      target value is not defined.</p>
    </item>
  </terms>

</page>
