<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="autotools-project-root-edit" xml:lang="sv">

  <info xmlns:facet="http://projectmallard.org/facet/1.0/">
    <facet:tag key="all-pages" value="whatever"/> <!--Include page in index-->
    <link type="guide" xref="project-manager-root" group="second"/>
    <link type="seealso" xref="autotools-project-folder-edit"/>
    <revision pkgversion="3.0" version="0.1" date="2011-03-27" status="incomplete"/>
    <desc>
      Edit autotools project properties.
    </desc>
    <credit type="author">
      <name>Sébastien Granjoux</name>
      <email>seb.sfo@free.fr</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>

  <title>Edit Autotools Project Properties</title>

  <p>These are the properties of the root item.</p>

  <terms>
    <item>
      <title><gui>Bakände</gui></title>
      <p>This the project backend used by the project: Autotools.
      Another backend can be selected by clicking on this button. It can be
      useful if the current backend has some troubles to parse your project
      files.</p>
    </item>
    <item>
      <title><gui>Namn</gui></title>
      <p>Namnet på ditt projekt. Det kan innehålla blanksteg.</p>
    </item>
    <item>
      <title><gui>Version</gui></title>
      <p>Detta är projektversionen.</p>
    </item>
    <item>
      <title><gui>URL till felrapport</gui></title>
      <p>Detta är en URL som möjliggör insändning av felrapporter, t.ex. en e-postadress eller en länk till ett felrapporteringssystem. Detta är valfritt.</p>
    </item>
    <item>
      <title><gui>Paketnamn</gui></title>
      <p>This is the name of distribution package, it shouldn't contain spaces.
      It is optional.</p>
    </item>
    <item>
      <title><gui>URL</gui></title>
      <p>Detta är projektets webbsida. Detta är valfritt.</p>
    </item>
  </terms>

  <p>In addition, the root item works as a folder and has all its properties.
  See <link xref="autotools-project-folder-edit"/> to see the list.</p>

</page>
