<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:facet="http://projectmallard.org/facet/1.0/" type="facets" id="full-index" xml:lang="sv">
  <info>
    <link type="guide" xref="index#reference"/>
    <facet:match key="all-pages"/>
    <desc>Alla hjälpämnen.</desc>
    <revision pkgversion="3.0" version="0.1" date="2011-05-01" status="incomplete"/>
    <credit type="author">
      <name>Philip Chimento</name>
      <email>philip.chimento@gmail.com</email>
    </credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>

  <title>Index</title>
</page>
