<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="introduction" xml:lang="sv">

  <info xmlns:facet="http://projectmallard.org/facet/1.0/">
    <facet:tag key="all-pages" value="whatever"/> <!--Include page in index-->
    <title>Introduktion</title>
    <desc>Introduction to <app>Anjuta</app> Integrated Development Environment</desc>
    <link type="guide" xref="index"/>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Nylander</mal:name>
      <mal:email>po@danielnylander.se</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Anders Jonsson</mal:name>
      <mal:email>anders.jonsson@norsjovallen.se</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>

  <title>Introduktion</title>

  <p>
    <app>Anjuta</app> is a versatile Integrated Development Environment (IDE)
    for the GNOME desktop. It features a number of advanced programming
    facilities including project management, application wizards, interactive
    debugging, integrated Glade UI designer, integrated Devhelp API help, class
    generator, powerful source editor, symbols browsing, Git support, 
    C/C++, Python and Vala support and more.
  </p>

  <p>
    <app>Anjuta</app> has a flexible and advanced docking system
    that allows you to lay out all the views in whatever way you like. You can drag
    and drop the views using drag bars and rearrange the layout.
  </p>

  <p>
    <app>Anjuta</app> has been designed to be simple to operate yet powerful
    enough to fulfill all your programming needs. We have added many new features
    to <app>Anjuta</app> over the course of its development. Our focus is on
    delivering power and usability at the same time and making your software
    development enjoyable without overloading your senses. We intend to
    continue improving and stabilizing <app>Anjuta</app> to give you the best
    IDE experience possible.
  </p>

  <p>
    We hope you will have a good time using <app>Anjuta</app>. If not, please
    help us make it better by reporting bugs and suggestions - this will help
    to improve the software, as well as helping the open source community.
  </p>

  <p>
    The following screenshot illustrates some of the things you will find in
    <app>Anjuta</app>.
  </p>

  <figure>
    <title><app>Anjuta</app> in action</title>
    <desc>Huvudfönstret för <app>Anjuta</app></desc>
    <media type="image" mime="image/png" src="figures/anjuta-in-action.png">
      <p>Huvudfönstret för <app>Anjuta</app></p>
    </media>
  </figure>

</page>
